main { margin-left: 180px;
		padding-bottom: 20px;
		padding-right: 20px;
}

body { background-color: #000033;
		background-image: url(primediagonal.png);
		color: #003300;
		font-family: Arial, Helvetica, sans-serif;
	}
	
#wrapper { width: 80%;
			min-width: 700px;
			max-width: 960px;
			margin-right: auto;
			margin-left: auto;
			background-color: #FFFFCC;
			padding: 0 0 20px 30px;
			border: 1px ridge #00332B;
			border-radius: 15px;
			box-shadow: inset -3px -3px 3px 3px #00332B;
			}
			
header { color: #48751A;
		background-image: url(primelogo.gif);
		background-repeat: no-repeat;
		height: 100px;
}
	
h2 { background-color: #ffffcc;
	color: #003366;
}
	
h3 { background-color: #ffffcc;
	color: #006600;
}
	
nav { font-weight: bold;
		font-size: 1.2em;
		float: left;
		width: 150px;
	}
	
nav a { text-decoration:none;
		display: block;
		text-align: center;
		color: #FFFFCC;
		font-weight: bold;
		border: 3px outset #CCCCCC;
		padding: 5px;
}
nav a:link { background-color: #003366; }
nav a:visited { background-color: #48751A; }
nav a:hover { border: 3px inset #333333; }
nav ul { list-style-type: none;
		margin: 0;
		padding-left: 0;
}
	
dd { font-style: italic;	
	font-size: 0.90em;
	line-height: 200%;
	}
	
.contact { font-weight: bold;
			font-size: 0.90em;
			font-family: "Times New Roman", serif;
			padding-top: 1em;
		}
		
.floatleft { float: left;
			padding-right: 20px;
			padding-bottom: 20px;
}

.floatright { float: right;
				padding-left: 2em;
				padding-right: 2em;
}

.clear { clear: left; }
		
footer   { font-size: 0.60em;
			font-style: italic;
			clear: both;
			margin-left: 180px;
		}
		
header, nav, main, footer { display:block; }

@media only all and (max-width: 768px)
{
	h1 { padding-top: 0.25em; padding-left: 1.5em; font-size:2.4em; }
	nav { width: 98%; }
	nav a { padding: 0.5em; width: 40%; float: left; min-width: 5em; margin-left: 0.5em; }
	main { padding: 0.6em; }
	.floatleft { float: none; padding-right: 0; padding-bottom: 0; }
	h3 { padding-top: 0; margin: 0; }
	dd { line-height: 100%; }
	footer { padding: 0.5em; margin: 0;}
	#mobile { display: inline; }
	#desktop  { display:none; }
}

table { width: 80%;
		border: 1px solid #000033;
		border-collapse: collapse;
}
td, th { border: 1px solid #000033; }
td { text-align: center; }

label { float: left;
		display: block;
		text-align: right;
		font-weight: bold;
		width: 8em;
		padding-right: 0.5em;
}

input, textarea { display: block;
		margin-bottom: 1em;
 }
 
 #mySubmit { margin-left: 10em; }